boto3==1.9.223
botocore==1.12.253
Django==2.2.5
django-cors-headers==3.0.2
django-extensions==2.2.1
django-multiselectfield==0.1.10
django-shell-plus==1.1.7
djangorestframework==3.10.3
docutils==0.15.2
et-xmlfile==1.0.1
jdcal==1.4.1
jmespath==0.9.4
openpyxl==3.0.0
psycopg2-binary==2.8.4
python-dateutil==2.8.0
python-decouple==3.1
pytz==2019.3
s3transfer==0.2.1
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.6
validate-email==1.3
